<div class="container">
        <h1 class="title is-full has-text-centered has-text-danger	">Error!!!!</h1>
        <p class="is-half has-text-centered">{{err}}</p>
        <div class="mt-6 has-text-centered">
            <button class="button" onclick="history.back()">Go Back</button>
        </div>
    </div>