<form method="post" class="box" action="/api/usercreate">
    <p class="title is-1 is-spaced has-text-centered">Sign Up</p>
    <div class="field">
      <label class="label">User Name</label>
      <div class="control">
        <input name="user" class="input" type="text" placeholder="User Name">
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input name="email" class="input" type="email" placeholder="e.g. alex@example.com">
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input name="password" class="input" type="password" placeholder="********">
      </div>
    </div>

    <button type="submit" class="button is-primary">Create Account</button>
</form>