 
 
body {
    background-color: #FFFAE9;
    height: 800px;
    overflow-y: scroll;
    /* padding: 50px; */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

h1 {
    font-size: large;
}

.is-rounded {
    background-color: #E8F8FF;
  }

  