

.columns {
    background-color: #FBC49F;
}

body {
    background-color: #FFFAE9;
    height: 100vh;
    /* overflow-y: hidden; */
    display: position;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

h1 {
    font-size: large;
}

.is-rounded {
    background-color: #E8F8FF;
  }

  .figure {
    padding-bottom: auto;
  }