
.columns {
    background-color: #E8F8FF;
}

body { 
    background-color: #FBC49F;
    height: 980px;
    padding: 50px;
    padding-bottom: 50px;
}

.button {
background-color: #E8F8FF;
margin-top: 50px;
padding: 35px;
}

h1{
    font-size: large;
}

